* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.pageTotal {
  background-color: rgb(40, 39, 39);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  align-items: center;
  background-color: rgb(61, 61, 61);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

h1 {
  margin: 2% auto;
}

.form {
  align-items: center;
  backdrop-filter: blur(8px);
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  padding: 3%;
  width: 500px;
}

.form label {
  align-items: left;
  background-color: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
}

.form input {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
  margin: 2% 0 5%;
  padding: 2%;
  width: 100%;
}

.btnSubmitDisabled {
  background-color: gray;
  padding: 3%;
  width: 100%;
  border-radius: 10px;
  margin-top: 2%;
}

.btnSubmitEnabled {
  background-color: aqua;
  color: black;
  padding: 3%;
  transition: 0.5s;
  width: 100%;
  border-radius: 10px;
  margin-top: 2%;
}
