.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 49, 49);
  color: white;
  padding: 2%;
  width: 100vw;
  overflow: hidden;
}

.total {
  margin-left: -5%;
}