.table {
  height: auto;
  margin: auto;
}

.thead {
  color: white;
}

.table th {
  border-bottom: 2px solid white;
  padding: 1%;
  text-align: center;
  width: 250px;
}

.tbody {
  color: white;
  margin: auto;
}

.tbody td {
  align-items: center;
  padding: 1%;
  text-align: center;
}

.delete_btn {
  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 1%;
  padding: 2%;
}

.delete_btn:hover {
  box-shadow: 0 0 10px red;
}

.edit_btn {
  background-color: rgb(60, 60, 244);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 1%;
  padding: 2%;
}

.edit_btn:hover {
  box-shadow: 0 0 10px blue;
}
